@import "dashboard.scss";
@import "navbar.scss";
@import "form.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf");
}

body {
  font-family: "Montserrat", sans-serif;
}
